$vspace-margin: 2rem 0;
$asterisk-margin: 3rem 0;

.side-by-side {
  display: flex;
}

.vspace {
  margin: $vspace-margin;
}

.column {
  flex: 50%;
}

.centered {
  text-align: center;
}

.asterisk {
  @extend .centered;
  vertical-align: sub;
  margin: $asterisk-margin;
}
