#translation-button {
  background: var(--theme-color);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
}

#translation-button:hover {
  filter: brightness(110%);
}

.text-overlay-on-image-container {
  position: relative;
  text-align: center;
  color: white;
}

.darkened-image {
  filter: brightness(60%);
}

#the-end-text-on-image {
  position: absolute;
  bottom: 15%;
  right: 8%;
  text-align: right;
  width: 40%;
}
